/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url("components/banner.css");
@import url("components/btn-green.css");
@import url("components/cards-container.css");
@import url("components/card.css");
@import url("components/footer.css");

/* Utilities */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(250, 250, 250);
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-family: Raleway, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.margin-bot {
  margin-bottom: 20px;
}

/* Custom design below! */
.container h2 {
  padding-top: 10px;
  font-size: 30px ;
  color: darkslategray;
}
/* #3ED46B */
